@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

/* BACKGROUND: */
body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* LEFT BOX */

.leftBoxOuter {
    position: relative;
    height: 95vh;
    width: 25%;
    float: left;
    margin: 1%;
    background-color: transparent;
    border-radius: 20px;
}

/* LEFT BOX UPGRADES */

#upgradesBoxOuter {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 20px;
    overflow: auto;
    text-align:justify;
    display: none
}

.upgradesHeader {
    position: relative;
    font-size: 30px;
    font-family: Kdam Thmor Pro;
    top: 10px;
    color: rgb(0, 208, 255);
    letter-spacing: 2px;
    border: 3px solid blue;
    border-image: linear-gradient(90deg,transparent 0% 10%, rgb(0, 0, 0) 50% 70%, transparent 90% 100%) 1;
    border-left: none;
    border-right: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto

}

#upgradesOuterShell {
    position: relative;
    height: 90%;
    background-color: transparent;
    margin: 5%;
}

#upgradeButton {
    position: relative;
    width: 75%;
    height: 10%;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.upgradeButtonQuestionMark {
    position: relative;
    font-size: 35px;
    font-family: Fascinate
}

#upgradeButtonPriceOne, #upgradeButtonPriceTwo, #upgradeButtonPriceThree, #upgradeButtonPriceFour, #upgradeButtonPriceFive, #upgradeButtonPriceSix, #upgradeButtonPriceSeven, #upgradeButtonPriceEight, #upgradeButtonPriceNine, #upgradeButtonPriceTen {
    position: relative;
    color: red;
    font-size: 20px;
}

@media screen and (orientation: landscape) {
    #upgradeButtonOneImg, #upgradeButtonTwoImg, #upgradeButtonThreeImg, #upgradeButtonFourImg, #upgradeButtonFiveImg, #upgradeButtonSixImg, #upgradeButtonSevenImg, #upgradeButtonEightImg, #upgradeButtonNineImg, #upgradeButtonTenImg {
        position: absolute;
        width: 30%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (orientation: portrait) {
    #upgradeButtonOneImg, #upgradeButtonTwoImg, #upgradeButtonThreeImg, #upgradeButtonFourImg, #upgradeButtonFiveImg, #upgradeButtonSixImg, #upgradeButtonSevenImg, #upgradeButtonEightImg, #upgradeButtonNineImg, #upgradeButtonTenImg {
        position: absolute;
        width: 30%;
        top: 50%;
        left: 35%;
    }
}

/* SKINS TAB */

#skinsBoxOuter {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 20px;
    overflow: auto;
    text-align:justify;
    display: none
}

.skinsHeader {
    position: relative;
    font-size: 30px;
    font-family: Kdam Thmor Pro;
    top: 10px;
    color: rgb(0, 208, 255);
    letter-spacing: 2px;
    border: 3px solid blue;
    border-image: linear-gradient(90deg,transparent 0% 10%, rgb(0, 0, 0) 50% 70%, transparent 90% 100%) 1;
    border-left: none;
    border-right: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto

}

#skinsOuterShell {
    position: relative;
    height: 90%;
    background-color: transparent;
    margin: 5%;
}

#skinsButton {
    position: relative;
    width: 75%;
    height: 10%;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.skinsButtonQuestionMark {
    position: relative;
    font-size: 35px;
    font-family: Fascinate
}
.skinsButtonQuestionMarkLonger {
    position: relative;
    font-size: 22px;
    font-family: Fascinate
}

#skinsButtonPriceOne{
    position: relative;
    color: rgb(235, 169, 14);
    font-size: 30px;
}

#skinsButtonPriceFive{
    position: relative;
    color: rgb(235, 169, 14);
    font-size: 25px;
}

/* MIDDLE BOX */

.middleBoxOuter {
    position: relative;
    height: 95vh;
    width: 44%;
    float: left;
    margin: 1%;
    background-color: transparent;
}

.middleTopBar {
    position: relative;
    height: 10%;
    width: 100%;
    left: 50%;
    top: 1%;
    transform: translate(-50%);
    border: 3px black solid;
    border-image: linear-gradient(90deg,transparent 0% 20%, black 40% 60%, transparent 80% 100%) 1;
    background-image: linear-gradient(90deg,rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3));
    border-left: none;
    border-radius: 40px;
    border-right: none;

}

.middleMiddleBox {
    position: relative;
    height: 65%;
    background-color: transparent;
    top: 2%
}

/* CRACKER */

.cracker {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 20%;
    cursor: pointer;
}

.middleBottomBox {
    position: relative;
    height: 20%;
    margin: 1%;
    background-color: rgba(45, 45, 45, 0.7);
    top: 2%;
    border-radius: 1vh
}


.cheese {
    position: absolute;
    left: 25%;
    display: none;
}

@media screen and (orientation: landscape) {
    .jam {
    position: absolute;
    left: 25%;
    top: 30%;
    display: none;
}
}

@media screen and (orientation: portrait) {
    .jam {
    position: absolute;
    left: 25%;
    top: 22%;
    display: none;
}
}

/* Cracker Counter Text */

#crackerCounter, #crackerCounterText{
    position: relative;
    font-size: 50px;
    font-family: Kdam Thmor Pro;
    top: 10px;
    color: rgb(237, 129, 61);
    letter-spacing: 2px;
}

/* BOTTOM BUTTONS */

.middleBottomTopLeft, .middleBottomTopRight, .middleBottomBottomLeft, .middleBottomBottomRight, .middleBottomBottomMiddle, .middleBottomTopMiddle {
    height: 35%;
    width: 25%;
    border-radius: 15px;
    background-color: rgba(255, 239, 215, 0.938);
    position: absolute;
    margin: 2%;
    cursor: pointer;
    font-size: 25px;
}
.middleBottomTopRight {
    left: auto;
    right: 0;
}
.middleBottomTopMiddle {
    left: 48%;
    transform: translate(-50%);
}
.middleBottomBottomLeft {
    top: auto;
    bottom: 0;
}
.middleBottomBottomMiddle {
    top: auto;
    bottom: 0;
    left: 48%;
    transform: translate(-50%);
}
.middleBottomBottomRight {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

@media screen and (orientation: landscape) {
    .upgradeButton {
        position: absolute;
        width: 100%;
        left: 0;
        top: 25%;
        font-size: 30px;
    }
}

@media screen and (orientation: portrait) {
    .upgradeButton {
        position: absolute;
        width: 100%;
        left: 0;
        top: 40%;
        font-size: 15px;
    }
}

/* RIGHT BOX */

.rightBoxOuter {
    position: relative;
    height: 95vh;
    width: 25%;
    float: right;
    margin: 1%;
    background-color: transparent;
    border-radius: 20px;
}

/* INFO */

#infoBoxOuter{
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 20px;
    overflow: auto;
    text-align:justify;
    display: none
}
.infoHeader {
    position: relative;
    font-size: 30px;
    font-family: Kdam Thmor Pro;
    top: 10px;
    color: rgb(0, 208, 255);
    letter-spacing: 2px;
    border: 3px solid blue;
    border-image: linear-gradient(90deg,transparent 0% 10%, rgb(0, 0, 0) 50% 70%, transparent 90% 100%) 1;
    border-left: none;
    border-right: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto

}

#infoOuterShell {
    position: relative;
    height: 90%;
    background-color: transparent;
    margin: 5%;
}

.infoPanel {
    position: relative;
    width: 85%;
    height: 94%;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.infoPanelText {
    position: relative;
    padding: 5%;
    font-size: 20px;
}

/* stats */

#statsBoxOuter {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 20px;
    overflow: auto;
    text-align:justify;
    display: none
}

@media screen and (orientation: landscape) {
.statsPanelLandscape {
    position: relative;
    width: 85%;
    height: 94%;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    display: block
}
.statsPanelPortrait {
    display: none
}
}

@media screen and (orientation: portrait) {
    .statsPanelLandscape {
        display: none
    }
    .statsPanelPortrait {
        position: relative;
        width: 85%;
        height: 94%;
        background-color: white;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%);
        display: block
    }
    }


/* add-on classes */

.rotate {
    animation: rotation 60s infinite linear;
  }
  
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.clickable {
    cursor: pointer;
}

/* full screen div */

.fullScreen {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* flying adam on upgrade buy */

#adamCrackerFly {
    position: relative;
    width: 250px;
    top: 30%;
    display: none;
}

@keyframes adamCrackerFlyAnimation {
    0% {
        left: -20%;
        top: 30%;
        transform: rotate(0deg);
    }
    50% {
        top: 10%
    }
    100% {
        left: 100%;
        top: 30%;
        transform: rotate(359deg);
    }
}